* { box-sizing: border-box; }

body{
    background: rgb(40, 34, 34);
    direction: rtl;
    font-family: 'Heebo', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

main{
    margin: 30px;
}

.NameOfTheMovie {
    color: white;
    font-size: larger;
}

.Path {
    color: white;
    width: 100%;
    margin-bottom: 20px; /* רווח תחתון */
}

.OO{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    gap: 5px;
    column-gap: 4px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Details{
    color: white;
    margin-bottom: 20px;
}

.Trailer{
    text-align: center;
    padding-bottom: 30px;
    padding-right: 0px;
}

.Trailer iframe{
    max-width: 100%;
    display: block;
}

.M{
    margin-bottom: 10px;
}

.DisANDPic{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.Discription{
    color: white;
    line-height: 1.8;
    margin-bottom: 3px;
    text-align: justify;
}

.PictureOfMovie{
    text-align: center;
}

.PurcashTik{
    text-align: center;
    background-color: green;
    color: white;
    width: fit-content;
    margin: 0 auto;
    border-radius: 8px;
    padding: 8px 50px;
    margin-bottom: 40px;
}

.PurcashTik a{
    color: inherit;
    text-decoration: none;
}

.PurcashTik a:hover {
    text-decoration: underline;
}


@media (max-width: 1023px) {
    .DisANDPic{
        flex-direction: column;
        text-align: center;
    }
    .OO{
        flex-direction: column;
    }
    .Trailer{
        justify-items: center;
    }
}
@media (max-width: 767px) {

    .PictureOfMovie img,
    .Trailer iframe {
        width: 100%;       /* יתפוס את רוחב המיכל */
        max-width: 400px;  /* לא יגדל מעבר לרוחב המקורי */
        height: auto;      /* שומר על יחס הגובה-רוחב */
        display: block;
        margin: 0 auto;    /* מרכז בתא אם קטן מהמיכל */
    }   
}