body{
    background: rgb(40, 34, 34);
    direction: rtl;
    font-family: 'Heebo', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

header{
    direction: rtl;
}

.NavBar {
    direction: rtl;
    width: 100%;
}

.logo {
    overflow: hidden;
    background: #000;            
}

.logo img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b1212;
    padding: 12px 24px; 
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.menu a:hover {
    text-decoration: underline;
}

.Footer{
    display: flex;
    flex-wrap: wrap;
    color: white;
    row-gap: 20px;
    column-gap: 60px;
    justify-content: center;
    margin-top: 35px;
}

.Head{
    font-size: larger;
}

.FootList{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.FootList a{
    color: inherit;
    text-decoration: none;
}

.FootList a:hover {
    text-decoration: underline;
}

@media (max-width: 1023px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        background: #333;
        color: white;
    }
    .manu {
        display: flex;
        list-style: none;
        gap: 20px;
        color: white;
    }
    .manu a {
        color: white;
        text-decoration: none;
    }
    .hamburger {
        display: none;
        font-size: 28px;
        cursor: pointer;
    }

}

@media (max-width: 767px) {
    body {
        padding: 15px;
    }
    .menu{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: #333;
        width: 100%;
        text-align: center;
    }
    .manu.active {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .Footer{
        flex-direction: column;
        align-items: right;
        text-align: right;
    }
}